p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:gray;
    font-size: medium;
}
.background{
    background-color: white;
    font-family:Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    margin-top: 200px;
    font-size: 100pt;
    padding-top: 50px;
    padding-bottom: 50px;
}

.the {background-color:black;}
body {
    background-color:black;
}
#boxes{
    position: sticky;
    top:0;
    border-left: 0px;
    border-right: 0px;
    border-top: 5px;
    border-bottom: 4px;
    text-decoration: none;
    font-size: x-large;
    padding: 16px;
    position: sticky;
    color: firebrick;
    border-style:solid;
    background-color: black;
    border-color:lemonchiffon;
}
.topNav{
    background-color:rgb(14, 13, 13)
}
#boxes:hover{
    background-color: rgb(104, 105, 105);
    color:rgb(248, 7, 7);
}
#active {
    border-left: 0px;
    border-right: 0px;
    border-top: 5px;
    border-bottom: 4px;
    text-decoration: none;
    font-size: x-large;
    padding: 16px;
    position: sticky;
    color: firebrick;
    background-color: rgb(0, 0, 31);
    border-color:silver;
    border-style:solid;
}